* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #131F17;
  color: #CECECE; }

.hero {
  background: url("../img/bg.png") no-repeat left top, linear-gradient(135deg, #275234 0%, #111A13 100%);
  background-size: cover;
  padding: 200px 0;
  -webkit-transform: skew(0deg, -4deg);
  transform: skew(0deg, -4deg);
  margin-top: -200px; }
  .hero__container {
    width: 60%;
    z-index: 1;
    margin-top: 40px; }
  .hero__content {
    -webkit-transform: skew(0deg, 4deg);
    transform: skew(0deg, 4deg);
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1em; }
  .hero__intro {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #21BD5C;
    text-transform: uppercase; }
    .hero__intro:after {
      background-color: #21BD5C;
      content: "";
      display: block;
      width: 50px;
      height: 5px;
      margin-top: 0.8em; }
  .hero__desc {
    font-size: 6.5rem;
    font-weight: 800;
    font-style: italic;
    line-height: 1;
    letter-spacing: 1.5px;
    color: #fbfcfd;
    text-transform: uppercase;
    margin: 0.4em 0 0.2em 0; }
    .hero__desc > span {
      color: #21BD5C; }

.portrait {
  max-width: 660px;
  position: absolute;
  right: 0; }

.portrait__shot {
  max-width: 100%; }

.btn--green {
  background-color: #21BD5C; }

.btn {
  color: #fbfcfd;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  padding: 0.6em 1.5em;
  display: inline-block;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  text-transform: uppercase; }
  .btn:hover {
    background: #1da751; }
  .btn > span {
    display: inline-block;
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }

@media (max-width: 1170px) {
  .portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; } }

@media (max-width: 767px) {
  .hero__intro:after {
    margin: 1em auto; }
  .portrait {
    display: none; }
  .hero__desc {
    font-size: 4.1rem;
    margin: 0.7em 0 0.7em 0;
    text-shadow: 3px 5px #3b8754; }
    .hero__desc > span {
      color: #fbfcfd; }
  .hero__container {
    width: 100%;
    margin-top: 0px;
    text-align: center; }
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1em; } }

:root {
  font-size: 16px; }

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #21BD5C; }

@media (max-width: 767px) {
  :root {
    font-size: 13px; } }

.about {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10em 1em 6em 1em; }

.experience {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .experience__item {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px; }

.about-me {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding-right: 50px; }
  .about-me p {
    font-size: 2.3rem;
    margin: 0;
    line-height: 1.5em; }
  .about-me a {
    text-decoration: underline; }

.experience__title {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #21BD5C;
  margin-bottom: 5px; }

.experience__job {
  font-size: 2.125rem;
  font-weight: 700;
  margin: 5px 0 5px 0; }

.experience__time {
  margin: 0;
  opacity: 0.6; }

.experience__linkedin {
  text-align: center;
  display: block;
  font-weight: 700; }

@media (max-width: 767px) {
  .experience {
    margin-top: 40px; }
  .about {
    padding: 5em 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .experience {
    margin-right: 0; }
  .about-me {
    padding: 0 20px;
    text-align: center; } }

.fade-in-top {
  -webkit-animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-right {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.works__container {
  background: url("../img/works_bg.png") no-repeat center center;
  background-size: cover; }

.food, .adventure, .watch, .airport {
  margin-bottom: 10em;
  max-width: 770px;
  background: linear-gradient(127deg, #dfe3ed, #ffffff);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.adventure, .airport {
  float: right; }

.watch, .airport {
  clear: right; }

.airport {
  margin-bottom: 0; }

.adventure .works__description, .airport .works__description {
  left: -11.5em; }

.works {
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 1em; }
  .works__shot {
    max-width: 100%;
    margin-top: -2em;
    padding-bottom: 2em; }
  .works__description {
    position: absolute;
    right: -11.5em;
    max-width: 465px;
    text-align: center;
    padding: 1.5em 1em;
    background-color: #21BD5C;
    font-size: 2rem;
    color: #fbfcfd; }

@media (max-width: 1170px) {
  .adventure .works__description, .airport .works__description {
    left: 0; }
  .works__description {
    bottom: -3em;
    left: 0;
    right: 0;
    margin: -0.5em auto;
    font-size: 1.5rem;
    padding: 1em 1em; }
  .food, .adventure, .watch, .airport {
    margin-bottom: 12em;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .adventure, .airport {
    float: none; }
  .airport {
    margin-bottom: 0; }
  .works__shot {
    max-width: 80%; } }

.contact {
  max-width: 1170px;
  margin: 0 auto;
  padding: 8em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: right; }
  .contact__image {
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    background-image: url("../img/Aleksi.jpg");
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  .contact__info {
    color: #444;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-image: linear-gradient(116deg, #dfe3ed, #ffffff); }
  .contact__heading {
    font-size: 2.6rem;
    font-weight: 300;
    margin: 0 0 0 -0.9em;
    padding: 1.8em 0.5em 0 0; }
  .contact__subheading {
    margin: 0.6em 0 0 -1.5em;
    font-weight: 300;
    color: #8A8B8C;
    padding: 0 0.5em 0 0; }

.hide {
  visibility: hidden; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0 2em -2.8em; }
  .contacts a {
    font-size: 1.3em;
    font-weight: 700; }
  .contacts img {
    width: 50px;
    margin-right: 1em; }
  .contacts__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 1em 1.5em 1em 1.5em;
    margin-right: 2em; }
  .contacts__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 1em 1.5em 1em 1.5em; }

@media (max-width: 1015px) {
  .contact {
    padding: 12em 1em 1em 1em;
    display: block; }
    .contact__info {
      text-align: center;
      padding: 2em; }
    .contact__heading {
      font-weight: 300;
      margin: 0.5em 0 0 0;
      padding: 0; }
    .contact__subheading {
      margin: 0.8em 0 1.5em 0; }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2em 0 0 0; }
    .contacts__email {
      margin: 0 0 1em 0; } }
